## Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import os
import sys
import pickle
import time
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from importlib import reload
%matplotlib inline

In [ ]:
path = 'drive/MyDrive/ADM/movielens/'

## Content Embeddings

In [ ]:
contentEmbeddings = pd.read_pickle(path + 'ae_emb.pkl')
contentEmbeddings = pd.DataFrame(contentEmbeddings)
contentEmbeddings.head(10)

    0         1    2    3         4    5   ...        94   95   96   97   98   99
0  0.0  0.000000  0.0  0.0  0.766454  0.0  ...  0.000000  0.0  0.0  0.0  0.0  0.0
1  0.0  0.000000  0.0  0.0  0.237403  0.0  ...  0.171496  0.0  0.0  0.0  0.0  0.0
2  0.0  0.000000  0.0  0.0  0.279502  0.0  ...  0.000000  0.0  0.0  0.0  0.0  0.0
3  0.0  0.000000  0.0  0.0  0.000000  0.0  ...  0.000000  0.0  0.0  0.0  0.0  0.0
4  0.0  0.188846  0.0  0.0  0.000000  0.0  ...  0.000000  0.0  0.0  0.0  0.0  0.0
5  0.0  0.015807  0.0  0.0  0.000000  0.0  ...  0.000000  0.0  0.0  0.0  0.0  0.0
6  0.0  0.000000  0.0  0.0  0.000000  0.0  ...  0.301240  0.0  0.0  0.0  0.0  0.0
7  0.0  0.000000  0.0  0.0  0.179662  0.0  ...  0.000000  0.0  0.0  0.0  0.0  0.0
8  0.0  0.000000  0.0  0.0  0.000000  0.0  ...  0.000000  0.0  0.0  0.0  0.0  0.0
9  0.0  0.000000  0.0  0.0  0.428130  0.0  ...  0.015863  0.0  0.0  0.0  0.0  0.0

[10 rows x 100 columns]

## Collaborative Embeddings

In [ ]:
collaborativeEmbeddings = pd.read_pickle(path + 'movie_embeddings_1.pkl')
collaborativeEmbeddings.head(10)

         0         1         2   ...        97        98        99
0 -0.029365 -0.029352 -0.031192  ...  0.008592 -0.008328 -0.003379
1  0.017979  0.021861 -0.020371  ...  0.043097  0.008297  0.010601
2  0.009159  0.026536  0.034986  ... -0.031735 -0.019296  0.015888
3  0.010538  0.013007  0.012423  ...  0.029635  0.026661 -0.031745
4  0.010987  0.012467  0.028735  ...  0.035551 -0.003021  0.038423
5 -0.024882 -0.002181 -0.011253  ...  0.016123 -0.019280  0.037412
6  0.028007  0.037591 -0.036328  ... -0.011959  0.036762 -0.021845
7  0.001738 -0.013023 -0.016399  ... -0.001782  0.016308 -0.031193
8 -0.049495  0.026269  0.017975  ...  0.039421  0.014144 -0.015673
9 -0.023323 -0.048314 -0.030855  ... -0.013846  0.016778  0.010994

[10 rows x 100 columns]

## Formatting Movie Lookup Data - Preprocessing

In [ ]:
ratings_data = pd.read_csv(path + 'ratings.csv')

In [ ]:
# movie to sequential non-breaking index
movieID_unique = ratings_data.movieId.unique()
movie2index = {o:i for i,o in enumerate(movieID_unique)}

In [ ]:
movies_data = pd.read_csv(path + 'movies.csv')
print("{} unique movies in movies.csv".format(len(movies_data.movieId.unique())))

ratings_data = pd.read_csv(path + 'ratings.csv')
print("{} unique movies in ratings.csv".format(len(ratings_data.movieId.unique())))

movies_data = pd.merge(movies_data, ratings_data, on="movieId", how="inner")
movies_data.movieId = movies_data.movieId.apply(lambda x: movie2index[x])

# Get popularity
popularity = pd.DataFrame(movies_data[['userId', 'title', 'movieId']].groupby(['title', 'movieId']).agg(['count']))
popularity.reset_index(inplace=True)
popularity.columns = ['title', 'movieId', 'ratings_data_count']
popularity.sort_values('ratings_data_count', ascending=False, inplace=True)
movies_data = pd.merge(popularity[['movieId', 'ratings_data_count']], movies_data, on='movieId')
movies_data.reset_index(inplace=True)

# Get average ratings
average_ratings = pd.DataFrame(movies_data[['rating', 'title', 'movieId']].groupby(['title', 'movieId']).agg(['mean']))
average_ratings.reset_index(inplace=True)
average_ratings.columns = ['title', 'movieId', 'avg_rating']
movies_data = pd.merge(average_ratings[['movieId', 'avg_rating']], movies_data, on='movieId')
movies_data.reset_index(inplace=True)


movies_data = movies_data[['movieId', 'title', 'genres', 'ratings_data_count', 'avg_rating']]
movies_data.drop_duplicates(inplace=True)
print("{} unique movies in embeddings".format(len(movies_data.movieId.unique())))
movies_data.set_index('movieId', inplace=True, drop=True)
movies_data.sort_index(ascending=True, inplace=True)
print(movies_data.shape)
movies_data.head(5)

27278 unique movies in movies.csv
26744 unique movies in ratings.csv
26744 unique movies in embeddings
(26744, 4)

                                                     title  ... avg_rating
movieId                                                     ...
0                                           Jumanji (1995)  ...   3.211977
1        City of Lost Children, The (CitÃ© des enfants p...  ...   3.952230
2                Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  ...   3.898055
3                              Seven (a.k.a. Se7en) (1995)  ...   4.053493
4                               Usual Suspects, The (1995)  ...   4.334372

[5 rows x 4 columns]

In [ ]:
movies_data.to_csv(path + 'movie_demographics.csv')

In [ ]:
movies_data.query('title == "Zodiac (2007)"')

                 title                genres  ratings_count  avg_rating
movieId
3995     Zodiac (2007)  Crime|Drama|Thriller           3907    3.675454

## Recommendation

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances

class SimilarityPredictions(object):
    def __init__(self, embeddings, similarity_metric='cosine'):
        assert similarity_metric in ['cosine', 'euclidean'], "unsupported similarity metric."
        self.embeddings = embeddings
        self.IDs = embeddings.index.tolist()
        self.sim_metric = similarity_metric
        if similarity_metric == 'cosine':
            self.sim_matrix = self.calculate_cosine_sim_matrix()
        if similarity_metric == 'euclidean':
            self.sim_matrix = self.calculate_euclidean_dist_matrix()

    def calculate_cosine_sim_matrix(self):
        '''Calculates a cosine similarity matrix from the embeddings'''
        sim_matrix = pd.DataFrame(cosine_similarity(
            X = self.embeddings),
            index = self.IDs)
        sim_matrix.columns = self.IDs
        return sim_matrix

    def calculate_euclidean_dist_matrix(self):
        '''Calculates a euclidean distances matrix (sim_matrix) from the embeddings'''
        sim_matrix = pd.DataFrame(euclidean_distances(
            X = self.embeddings),
            index = self.IDs)
        sim_matrix.columns = self.IDs
        return sim_matrix

    def predict_sim_items(self, seed_item, n):
        '''Use the sim_matrix to return n most similar items.'''
        sim_items = pd.DataFrame(self.sim_matrix.loc[seed_item])
        sim_items.columns = ["similarity_score"]
        if self.sim_metric == 'cosine':
            sim_items = sim_items.sort_values('similarity_score', ascending = False)
        if self.sim_metric == 'euclidean':
            sim_items = sim_items.sort_values('similarity_score', ascending = True)
        sim_items = sim_items.head(n)
        sim_items.reset_index(inplace = True)
        sim_items = sim_items.rename(index = str, columns = {"index": "item_id"})
        return sim_items.to_dict()

In [ ]:
def movieID_lookup_by_title(movie_title):
  return movies_data[movies_data.title.str.contains(movie_title)]

In [ ]:
movieID_lookup_by_title('Notebook')

                                       title  ... avg_rating
movieId                                       ...
1764                    Notebook, The (2004)  ...   3.804057
15131    Notebook, The (A nagy fÃ¼zet) (2013)  ...   3.700000

[2 rows x 4 columns]

In [ ]:
# Example
zodiac = 3995
lotr = 131    # Lord of the rings

In [ ]:
def get_detailed_records(movie_id, embeddings, file_path):
    # Get similar movies
    sim_model = SimilarityPredictions(embeddings, similarity_metric = "cosine")
    output = sim_model.predict_sim_items(seed_item = movie_id, n = 20)
    sim_movies = pd.DataFrame(output)
    sim_movies.set_index('item_id', inplace = True)
    sim_df = pd.merge(movies_data, sim_movies, left_index = True, right_index = True)
    sim_df.sort_values('similarity_score', ascending = False, inplace = True)
    
    # Save records locally
    sim_df.head(20).to_csv(file_path, index = False, header = True)
    return sim_df.head(20)

In [ ]:
def get_ensemble_records(movie_id, contentEmbeddings, collaborativeEmbeddings, file_path):
    # Get similar movies via content
    sim_model_content = SimilarityPredictions(contentEmbeddings, similarity_metric = "cosine")
    content_output = sim_model_content.predict_sim_items(seed_item = movie_id, n = 26744)
    sim_movies = pd.DataFrame(content_output)
    sim_movies.set_index('item_id', inplace=True)
    sim_df_content = pd.merge(movies_data, sim_movies, left_index = True, right_index = True)
    sim_df_content.sort_values('similarity_score', ascending = False, inplace = True)
    sim_df_content = sim_df_content.rename(index = str, columns = {"similarity_score": "content_similarity_score"})

    # Get similar movies via collaborative
    sim_model_collab = SimilarityPredictions(collaborativeEmbeddings, similarity_metric = "cosine")
    collab_output = sim_model_collab.predict_sim_items(seed_item = movie_id, n = 26744)
    sim_movies = pd.DataFrame(collab_output)
    sim_movies.set_index('item_id', inplace = True)
    sim_df_collab = pd.merge(movies_data, sim_movies, left_index = True, right_index = True)
    sim_df_collab.sort_values('similarity_score', ascending = False, inplace = True)
    sim_df_collab = sim_df_collab.rename(index = str, columns = {"similarity_score": "collaborative_similarity_score"})

    # Ensemble results
    sim_df_average = pd.merge(sim_df_collab, pd.DataFrame(sim_df_content['content_similarity_score']), left_index = True, right_index = True)
    sim_df_average['average_similarity_score'] = (sim_df_average['content_similarity_score'] + sim_df_average['collaborative_similarity_score'])/2
    sim_df_average.sort_values('average_similarity_score', ascending=False, inplace=True)
    
    # Save records locally
    sim_df_average.head(20).to_csv(file_path, index=False, header=True)
    return sim_df_average.head(20)

### Collaborative Filtering

In [ ]:
notebook = 1764

In [ ]:
get_detailed_records(notebook, collaborativeEmbeddings, path + 'collab_recs_notebook.csv')

                                                title  ... similarity_score
1764                             Notebook, The (2004)  ...         1.000000
20925                         Collision Course (1989)  ...         0.368735
18266                                 Moontide (1942)  ...         0.359472
4932                           Bob le Flambeur (1955)  ...         0.349049
9321                        Fawlty Towers (1975-1979)  ...         0.347769
6101                       Nanook of the North (1922)  ...         0.346238
2417                                Local Hero (1983)  ...         0.343560
9287                        2 Days in New York (2012)  ...         0.337562
19436                         The Mad Magician (1954)  ...         0.327152
6726                        Longtime Companion (1990)  ...         0.324915
9436                                   Flipped (2010)  ...         0.323495
25020                                     Drum (2004)  ...         0.318845
7807                                  Gigantic (2008)  ...         0.318492
15982                                 End Game (2006)  ...         0.314743
3577   Supercop 2 (Project S) (Chao ji ji hua) (1993)  ...         0.312237
10455                   Something for Everyone (1970)  ...         0.309569
3898                                     Devil (2010)  ...         0.309428
12385                             Winter Kills (1979)  ...         0.309421
2304                              Pet Sematary (1989)  ...         0.309201
13235                               Roxie Hart (1942)  ...         0.308830

[20 rows x 5 columns]

### Content Based Filtering

In [ ]:
get_detailed_records(notebook, contentEmbeddings, path + 'content_recs_notebook.csv')

                                                   title  ... similarity_score
1764                                Notebook, The (2004)  ...         1.000000
528                                  Notting Hill (1999)  ...         0.978334
599                                  Mystic Pizza (1988)  ...         0.976591
2556                            Family Stone, The (2005)  ...         0.975787
19881                             Rains Came, The (1939)  ...         0.975587
4128                            Mrs. Winterbourne (1996)  ...         0.975418
6173                               Lost in Austen (2008)  ...         0.975268
7365   Elementary Particles, The (Elementarteilchen) ...  ...         0.974241
7962                                   Persuasion (2007)  ...         0.973877
24203                           Human Comedy, The (1943)  ...         0.973088
16975                         Flesh and the Devil (1926)  ...         0.972931
9885                                Hello, Dolly! (1969)  ...         0.971827
1126                          Walk to Remember, A (2002)  ...         0.970878
6801                             Orpheus (OrphÃ©e) (1950)  ...         0.969978
1994                            Waiting to Exhale (1995)  ...         0.969743
778                         Bridget Jones's Diary (2001)  ...         0.969574
4932                              Bob le Flambeur (1955)  ...         0.969552
12474                                  Dodge City (1939)  ...         0.968635
5572                                    Jane Eyre (2006)  ...         0.968404
3376                          Message in a Bottle (1999)  ...         0.968206

[20 rows x 5 columns]

### Hybrid Recommender

In [ ]:
get_ensemble_records(notebook, contentEmbeddings, collaborativeEmbeddings, path + 'ensembled_recs_notebook.csv')

                                                   title  ... average_similarity_score
1764                                Notebook, The (2004)  ...                 1.000000
4932                              Bob le Flambeur (1955)  ...                 0.659300
9321                           Fawlty Towers (1975-1979)  ...                 0.639048
9436                                      Flipped (2010)  ...                 0.627327
18266                                    Moontide (1942)  ...                 0.625608
6101                          Nanook of the North (1922)  ...                 0.618975
3898                                        Devil (2010)  ...                 0.613252
6726                           Longtime Companion (1990)  ...                 0.612504
2417                                   Local Hero (1983)  ...                 0.612322
10327  Broken Blossoms or The Yellow Man and the Girl...  ...                 0.611967
446                                  Pretty Woman (1990)  ...                 0.611011
2304                                 Pet Sematary (1989)  ...                 0.610125
19436                            The Mad Magician (1954)  ...                 0.609140
4068                                    Lady Jane (1986)  ...                 0.608809
7807                                     Gigantic (2008)  ...                 0.607857
25020                                        Drum (2004)  ...                 0.605766
6109                                   Jesus Camp (2006)  ...                 0.605182
6508                            Perfect Host, The (2010)  ...                 0.605104
5280                                    John Wick (2014)  ...                 0.604425
4806                         Thief of Bagdad, The (1940)  ...                 0.604002

[20 rows x 7 columns]