## Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import os
import sys
import pickle
import time
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from importlib import reload
%matplotlib inline

In [ ]:
path = 'drive/MyDrive/ADM/movielens/'

## Loading Tag Data

In [ ]:
# Load ratings data and tags data
tags_data = pd.read_csv(path + 'tags.csv')
print("Unique movies in tags.csv: {}".format(len(tags_data.movieId.unique())))
print("Shape of tags_data: {}".format(tags_data.shape))
ratings_data = pd.read_csv(path + 'ratings.csv')
ratings_data = ratings_data.drop_duplicates('movieId')
print("Unique movies in ratings.csv: {}".format(len(ratings_data.movieId.unique())))

19545 unique movies in tags.csv
the tags data has (465564, 4) shape
26744 unique movies in ratings.csv

## Preprocessing

In [ ]:
# Movies to sequential and conitinuos index
movieID_unique = ratings_data.movieId.unique()
movie2index = {o:i for i,o in enumerate(movieID_unique)}

In [ ]:
tags_data.head(10)

   userId  movieId               tag   timestamp
0      18     4141       Mark Waters  1240597180
1      65      208         dark hero  1368150078
2      65      353         dark hero  1368150079
3      65      521     noir thriller  1368149983
4      65      592         dark hero  1368150078
5      65      668         bollywood  1368149876
6      65      898  screwball comedy  1368150160
7      65     1248     noir thriller  1368149983
8      65     1391              mars  1368150055
9      65     1617          neo-noir  1368150217

In [ ]:
# Map movie index for tags_data
tags_data = pd.merge(tags_data, ratings_data, on="movieId", how="right")
tags_data.movieId = tags_data.movieId.apply(lambda x: movie2index[x])
print("Unique movies in tags.csv: {}".format(len(tags_data.movieId.unique())))
print(tags_data.shape)
tags_data.head()

26744 unique movies in tags.csv
(472537, 7)

   userId_x  movieId                   tag  ...  userId_y  rating  timestamp_y
0    1629.0        0           time travel  ...         1     3.5   1112486027
1    1741.0        0     adapted from:book  ...         1     3.5   1112486027
2    1741.0        0            board game  ...         1     3.5   1112486027
3    1741.0        0  childhood recaptured  ...         1     3.5   1112486027
4    1741.0        0                  game  ...         1     3.5   1112486027

[5 rows x 7 columns]

In [ ]:
# Map movie index for movies data
movies_data = pd.read_csv(path + 'movies.csv')
print("Unique movies in movies.csv: {}".format(len(movies_data.movieId.unique())))
print("Unique movies in ratings_data.csv: {}".format(len(ratings_data.movieId.unique())))

movies_data = pd.merge(movies_data, ratings_data, on="movieId", how="inner")
movies_data.movieId = movies_data.movieId.apply(lambda x: movie2index[x])
print("Unique movies in movies.csv: {}".format(len(movies_data.movieId.unique())))

movies_data.set_index('movieId', inplace=True)
movies_data['genres'] = movies_data['genres'].str.replace(pat="|", repl=" ")
movies_data['genres'] = movies_data['genres'].str.replace(pat="-", repl="")
movies_data.query('title == "Primer (2004)"')

27278 unique movies in movies.csv
26744 unique movies in ratings.csv
26744 unique movies in movies.csv

                 title       genres  userId  rating   timestamp
movieId
3006     Primer (2004)  Drama SciFi      96     4.5  1402187423

In [ ]:
# Create documents from tags
tags_data.fillna("", inplace=True)
tags_data = pd.DataFrame(tags_data.groupby('movieId')['tag'].apply(lambda x: "{%s}" % ' '.join(x)))
tags_data.reset_index(inplace=True)
movieID = tags_data.movieId
print("Unique movies: {}".format(len(movieID)))
tags_data.sample(10)

There are 26744 unique movies

       movieId                                                tag
1330      1330  {Can't remember Samuel L. Jackson Reginald Hud...
22121    22121                                                 {}
3263      3263  {zombies campy gross out lawn mower zombies cu...
22937    22937                                                 {}
15739    15739                                                 {}
4124      4124  {Own adultery Bechdel Test:Fail comedy about w...
4389      4389                                          {Betamax}
25399    25399                {Israel Judaism Palestine religion}
15841    15841                                                 {}
20942    20942                                                 {}

In [ ]:
# Add genres to document
tags_data = pd.merge(movies_data, tags_data, left_index=True, right_on='movieId', how='right')
tags_data['document'] = tags_data[['tag', 'genres']].apply(lambda x: ' '.join(x), axis=1)
tags_data.head(3)

                                               title  ...                                           document
0                                     Jumanji (1995)  ...  {time travel adapted from:book board game chil...
1  City of Lost Children, The (Cité des enfants p...  ...  {children Santa Claus dystopia abused children...
2          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  ...  {post-apocalyptic psychology time travel Brad ...

[3 rows x 8 columns]

In [ ]:
tags_data.query('movieId == 19849')

                          title  genres  userId  ...  movieId  tag   document
19849  Waiting Game, The (2000)  Comedy   29879  ...    19849   {}  {} Comedy

[1 rows x 8 columns]

## TFIDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
TFIDF = TfidfVectorizer(
    ngram_range=(0, 1),
    min_df=0.0001,
    stop_words='english')
TFIDF_matrix = TFIDF.fit_transform(tags_data['document'])
TFIDF_df = pd.DataFrame(TFIDF_matrix.toarray(), index=tags_data.index.tolist())
print(TFIDF_df.shape)
TFIDF_df.head(3)

(26744, 9697)

   0     1     2     3     4     5     ...  9691  9692  9693  9694  9695  9696
0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
1   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[3 rows x 9697 columns]

In [ ]:
TFIDF.vocabulary_

{'time': 8713,
 'travel': 8855,
 'adapted': 202,
 'book': 1059,
 'board': 1020,
 'game': 3383,
 'childhood': 1553,
 'recaptured': 7141,
 'herds': 3960,
 'cgi': 1462,
 'animals': 452,
 'scary': 7624,
 'fantasy': 3003,
 'robin': 7355,
 'williams': 9452,
 'joe': 4606,
 'johnston': 4617,
 'kid': 4799,
 'flick': 3188,
 'jungle': 4680,
 'adventure': 226,
 'children': 1555,
 'dynamic': 2613,
 'action': 186,
 'kirsten': 4838,
 'dunst': 2588,
 'childish': 1554,
 'filmed': 3125,
 'bc': 815,
 'bad': 706,
 'based': 788,
 'chris': 1589,
 'van': 9128,
 'allsburg': 342,
 'magic': 5374,
 'monkey': 5883,
 'saturn': 7593,
 'award': 675,
 'best': 904,
 'special': 8145,
 'effects': 2679,
 'supporting': 8428,
 'actress': 191,
 'clv': 1712,
 'horrifying': 4116,
 'horror': 4117,
 'genre': 3470,
 'kids': 4804,
 'santa': 7567,
 'claus': 1652,
 'dystopia': 2620,
 'abused': 168,
 'surreal': 8437,
 'bleak': 984,
 'dark': 2134,
 'visually': 9238,
 'appealing': 510,
 'atmospheric': 615,
 'dreamlike': 2523,
 'fanciful': 2998,
 'hallucinatory': 3790,
 'stylized': 8361,
 'whimsical': 9405,
 'weird': 9374,
 'jeunet': 4578,
 'beautiful': 832,
 'steampunk': 8243,
 'deer': 2205,
 'shit': 7879,
 'ron': 7411,
 'perlman': 6607,
 'need': 6104,
 'stunning': 8347,
 'strange': 8305,
 'jean': 4545,
 'pierre': 6677,
 'christmas': 1598,
 'fairytale': 2976,
 'kidnapping': 4803,
 'sci': 7664,
 'fi': 3103,
 'marc': 5445,
 'caro': 1372,
 'skinut': 8008,
 'legenda': 5055,
 'pt': 6961,
 'br': 1106,
 'computer': 1811,
 'btaege': 1212,
 'visual': 9237,
 'awkward': 682,
 'romance': 7398,
 'nudity': 6239,
 'topless': 8766,
 'erlend': 2829,
 'dvds': 2602,
 'dominique': 2464,
 'pinon': 6695,
 'clones': 1690,
 'memasa': 5656,
 'movies': 5970,
 'drama': 2516,
 'mystery': 6033,
 'scifi': 7669,
 'post': 6816,
 'apocalyptic': 506,
 'psychology': 6955,
 'brad': 1107,
 'pitt': 6704,
 'bruce': 1198,
 'willis': 9455,
 'twist': 8957,
 'ending': 2770,
 'inspired': 4370,
 'short': 7893,
 'film': 3121,
 'nature': 6087,
 'insanity': 4358,
 'plot': 6737,
 'point': 6756,
 'bio': 945,
 'medical': 5622,
 'danger': 2111,
 'remake': 7213,
 'french': 3301,
 'memory': 5661,
 'complicated': 1807,
 'future': 3353,
 'violence': 9221,
 'original': 6362,
 'terry': 8630,
 'gilliam': 3518,
 'futuristmovies': 3355,
 'com': 1761,
 'great': 3658,
 'excellent': 2898,
 'genetics': 3462,
 'british': 1168,
 'classic': 1642,
 'imagination': 4257,
 'imdb': 4263,
 '250': 98,
 'mental': 5668,
 'illness': 4249,
 'setting': 7788,
 'philadelphia': 6643,
 'joseph': 4638,
 'loop': 5236,
 'epidemic': 2810,
 'science': 7666,
 'fiction': 3105,
 'favorite': 3042,
 'trust': 8915,
 'brilliant': 1164,
 'genius': 3467,
 'annoying': 470,
 'characters': 1495,
 'good': 3599,
 'hell': 3940,
 'depressing': 2264,
 'mindfuck': 5774,
 'movie': 5967,
 'acting': 185,
 'orange': 6350,
 'stupid': 8350,
 'monty': 5900,
 'python': 6995,
 'related': 7200,
 'sf': 7810,
 'gfei': 3492,
 'madeleine': 5360,
 'stowe': 8301,
 'dvd': 2600,
 'end': 2766,
 'world': 9542,
 'dystopian': 2621,
 'paradox': 6481,
 'deterministic': 2300,
 'watch': 9333,
 'hours': 4135,
 'social': 8066,
 'misfits': 5813,
 'practical': 6836,
 'seen': 7727,
 'thriller': 8686,
 'divx1': 2422,
 'asylum': 605,
 'biology': 948,
 'overrated': 6417,
 'actors': 190,
 'rated': 7099,
 'cinema': 1616,
 'different': 2347,
 'view': 9192,
 'owned': 6422,
 'jeffrey': 4550,
 'music': 6017,
 'scenario': 7625,
 'strong': 8331,
 'director': 2371,
 'reality': 7124,
 'design': 2282,
 'story': 8297,
 'christopher': 1601,
 'plummer': 6744,
 'video': 9184,
 'warfare': 9312,
 'dystopic': 2623,
 'agonizing': 265,
 'institution': 4375,
 'clearplay': 1661,
 'tumey': 8932,
 'interesting': 4395,
 'serial': 7773,
 'killer': 4814,
 'bfi': 915,
 'modern': 5858,
 'murder': 6006,
 'surprise': 8434,
 'disturbing': 2416,
 'investigation': 4418,
 'kevin': 4791,
 'spacey': 8135,
 'morgan': 5920,
 'freeman': 3297,
 'crime': 1982,
 'credits': 1977,
 'predictable': 6849,
 'biblical': 921,
 'detective': 2297,
 'powerful': 6833,
 'philosophical': 6649,
 'worst': 9549,
 'graphic': 3650,
 'violent': 9222,
 'gore': 3609,
 'police': 6770,
 'psychological': 6954,
 'religion': 7208,
 'twists': 8959,
 'turns': 8945,
 'creepy': 1978,
 'gloomy': 3556,
 'grim': 3692,
 'gruesome': 3712,
 'menacing': 5665,
 'investigations': 4419,
 'ominous': 6326,
 'killers': 4815,
 'painful': 6445,
 'christianity': 1593,
 'david': 2154,
 'fincher': 3140,
 'writing': 9564,
 'gwyneth': 3754,
 'paltrow': 6462,
 'detectives': 2298,
 'suitcase': 8399,
 'light': 5136,
 'creative': 1972,
 'stuff': 8345,
 'gorgeous': 3611,
 'cinematography': 1620,
 'greed': 3661,
 'netflix': 6126,
 'queue': 7018,
 'super': 8413,
 'gory': 3615,
 'disgusting': 2394,
 'scope': 7672,
 'want': 9307,
 'theater': 8644,
 'vhs': 9176,
 'evil': 2890,
 'amazing': 371,
 'seven': 7792,
 'deadly': 2165,
 'sins': 7975,
 'usa': 9098,
 'noir': 6190,
 'captivating': 1344,
 'shocking': 7885,
 'hopeless': 4106,
 'confusing': 1831,
 '10': 10,
 'watched': 9335,
 '1995': 67,
 'wow': 9556,
 'wonderful': 9520,
 'ashley': 576,
 'judd': 4657,
 'capital': 1336,
 'sin': 7961,
 'policial': 6771,
 'actually': 194,
 'like': 5143,
 'crimes': 1983,
 'non': 6199,
 'sense': 7751,
 'suspenseful': 8449,
 'terrible': 8624,
 'divx': 2421,
 'bd': 816,
 'cynical': 2073,
 'stereotyped': 8259,
 'books': 1061,
 'envy': 2805,
 'husband': 4191,
 'wife': 9434,
 'relationship': 7202,
 'library': 5127,
 'lust': 5317,
 'numbers': 6243,
 'pride': 6878,
 'sloth': 8034,
 'week': 9366,
 'organized': 6358,
 'benicio': 870,
 'del': 2215,
 'toro': 8781,
 'caper': 1335,
 'conspiracy': 1852,
 'heist': 3931,
 'oscar': 6378,
 'actor': 189,
 'screenplay': 7689,
 'written': 9565,
 'directly': 2370,
 'screen': 7687,
 'suspense': 8448,
 'ensemble': 2792,
 'cast': 1405,
 'men': 5663,
 'winner': 9472,
 'finland': 3146,
 'academy': 172,
 'bryan': 1206,
 'singer': 7965,
 'gabriel': 3364,
 'byrne': 1279,
 'script': 7694,
 'term': 8620,
 'loss': 5253,
 'clever': 1671,
 'funny': 3347,
 'new': 6135,
 'york': 9628,
 'city': 1625,
 'anti': 482,
 'hero': 3964,
 'unreliable': 9071,
 'narrators': 6067,
 'storytelling': 8300,
 'flashbacks': 3175,
 'puzzle': 6990,
 '1990s': 64,
 'neo': 6119,
 'fell': 3071,
 'asleep': 583,
 'sã': 8500,
 'boring': 1076,
 'dull': 2576,
 'slow': 8035,
 'atmosphere': 614,
 'edgar': 2657,
 'motion': 5954,
 'picture': 6668,
 'language': 4974,
 'whodunnit': 9419,
 '90': 132,
 'flash': 3173,
 'awesome': 680,
 'pollak': 6780,
 'los': 5247,
 'angeles': 439,
 'pete': 6627,
 'postlethwaite': 6819,
 'web': 9358,
 'lies': 5133,
 'eric': 2822,
 'unexpected': 9030,
 'rewatchable': 7280,
 'complex': 1805,
 'dialogs': 2317,
 'black': 973,
 'humour': 4172,
 'kung': 4914,
 'fu': 3330,
 'fight': 3112,
 'scenes': 7629,
 'hong': 4093,
 'kong': 4879,
 'india': 4314,
 'rutger': 7497,
 'hauer': 3866,
 'martial': 5494,
 'arts': 569,
 'jackie': 4489,
 'chan': 1473,
 'stanley': 8215,
 'tong': 8756,
 'mixed': 5837,
 'marriage': 5485,
 'choreography': 1584,
 'dub': 2555,
 'comedy': 1771,
 'rape': 7089,
 'earthy': 2633,
 'literate': 5182,
 'passionate': 6521,
 'rousing': 7448,
 'sweeping': 8474,
 'tense': 8615,
 'sword': 8483,
 'fighting': 3114,
 'jessica': 4573,
 'lange': 4972,
 'liam': 5119,
 'neeson': 6108,
 'western': 9396,
 'tim': 8711,
 'roth': 7439,
 '18th': 32,
 'century': 1454,
 'scotland': 7679,
 'remember': 7216,
 'favorites': 3043,
 'pot_estar_be': 6824,
 'michael': 5718,
 'caton': 1422,
 'jones': 4627,
 'tribal': 8880,
 'hulu': 4158,
 'war': 9310,
 'slackers': 8016,
 'crude': 2014,
 'humor': 4169,
 'dialogue': 2318,
 'smith': 8043,
 'low': 5278,
 'budget': 1226,
 'quirky': 7026,
 'white': 9415,
 'hilarious': 3997,
 'irreverent': 4445,
 'askew': 582,
 'driven': 2538,
 'directorial': 2372,
 'debut': 2187,
 'today': 8733,
 'matter': 5542,
 'fact': 2961,
 'friendships': 3312,
 'talky': 8528,
 'twentysomething': 8953,
 'life': 5135,
 'witty': 9503,
 'work': 9535,
 'ethics': 2867,
 'wry': 9570,
 'jay': 4540,
 'silent': 7943,
 'bob': 1024,
 'kai': 4699,
 'stoner': 8286,
 'minimalist': 5785,
 'juvenile': 4689,
 'independent': 4313,
 'hilarity': 3999,
 'rent': 7228,
 'generation': 3458,
 'jersey': 4569,
 '2006': 81,
 'workplace': 9540,
 'indecent': 4311,
 'no_fa_ganes': 6181,
 'jason': 4534,
 'mewes': 5707,
 'store': 8293,
 'hard': 3830,
 'rate': 7098,
 'multiple': 5997,
 'roles': 7389,
 'charmingly': 1505,
 'amateurish': 370,
 'true': 8909,
 'kupienia': 4917,
 'hillarious': 4002,
 'author': 653,
 'anne': 465,
 'price': 6877,
 'vampire': 9126,
 'tom': 8746,
 'cruise': 2018,
 'frontal': 3320,
 'vampires': 9127,
 'urban': 9093,
 'antonio': 491,
 'banderas': 745,
 'cult': 2037,
 'gothic': 3626,
 'history': 4030,
 'interviews': 4405,
 'orleans': 6366,
 'paris': 6497,
 'san': 7553,
 'francisco': 3267,
 'spooky': 8183,
 'better': 910,
 'debased': 2178,
 'mediocre': 5625,
 'lots': 5257,
 'blood': 1006,
 'homosexual': 4088,
 'undertones': 9021,
 'rice': 7294,
 'journalism': 4646,
 'costumes': 1927,
 'dracula': 2508,
 'terror': 8627,
 'filmaffinity': 3122,
 'marinavista': 5465,
 'neil': 6114,
 'jordan': 4633,
 'existentialism': 2909,
 'stephen': 8254,
 'rea': 7115,
 'homoerotic': 4085,
 'subtext': 8377,
 'whiney': 9406,
 'protagonist': 6933,
 'literature': 5183,
 'historic': 4027,
 'pretentious': 6872,
 'dvr': 2603,
 '1970s': 53,
 'epic': 2808,
 'exciting': 2903,
 'galactic': 3374,
 'soundtrack': 8122,
 'harrison': 3847,
 'ford': 3227,
 'star': 8218,
 'wars': 9320,
 'space': 8130,
 'bechdel': 836,
 'test': 8632,
 'fail': 2966,
 'fatality': 3033,
 'téa': 8972,
 'leoni': 5081,
 'does': 2439,
 'wizards': 9507,
 'carrie': 1383,
 'fisher': 3161,
 'george': 3476,
 'lucas': 5288,
 'mark': 5475,
 'hamill': 3795,
 'jedi': 4547,
 'aliens': 332,
 'family': 2994,
 'versus': 9171,
 'heroic': 3966,
 'journey': 4648,
 'campbell': 1315,
 'study': 8344,
 'mythology': 6038,
 'influenced': 4337,
 'quotable': 7028,
 'robots': 7361,
 'alec': 311,
 'guiness': 3732,
 'androids': 430,
 'industrial': 4326,
 'john': 4612,
 'making': 5397,
 'force': 3223,
 'visionary': 9234,
 'old': 6304,
 'fx': 3356,
 'quality': 7004,
 'starship': 8225,
 'pilots': 6689,
 'darth': 2141,
 'vader': 9113,
 'lightsabers': 5141,
 'bast': 797,
 'background': 702,
 'universe': 9054,
 'fast': 3028,
 'development': 2308,
 'mystic': 6034,
 'warriors': 9319,
 'registry': 7182,
 'mission': 5822,
 'humorous': 4171,
 'luke': 5306,
 'skywalker': 8015,
 'highly': 3992,
 'business': 1265,
 'spielberg': 8161,
 'death': 2176,
 'han': 3801,
 'millenium': 5763,
 'falcon': 2981,
 'wan': 9301,
 'princess': 6884,
 'tie': 8698,
 'fighter': 3113,
 'wing': 9467,
 'akira': 286,
 'kurosawa': 4921,
 'homage': 4075,
 'rating': 7101,
 'dependent': 2261,
 'version': 9170,
 'spaceflight': 8131,
 'james': 4512,
 'earl': 2627,
 'series': 7775,
 'soft': 8076,
 'desert': 2280,
 'sequel': 7762,
 'peter': 6628,
 'cushing': 2057,
 'opera': 6336,
 'franchise': 3265,
 'editing': 2665,
 'combat': 1763,
 'tv': 8949,
 'screenwriter': 7691,
 'myth': 6036,
 'noise': 6192,
 'simply': 7956,
 'doesn': 2440,
 'empire': 2760,
 'showing': 7902,
 'age': 250,
 'afi': 240,
 '15': 21,
 'hot': 4130,
 'outdated': 6394,
 'nerdy': 6123,
 'dvd1': 2601,
 '70s': 127,
 '70mm': 126,
 '100': 11,
 'cheers': 1522,
 'quotes': 7030,
 'thrills': 8688,
 'art': 560,
 'direction': 2369,
 'set': 7785,
 'decoration': 2199,
 'costume': 1925,
 'sound': 8119,
 'makeup': 5395,
 'far': 3004,
 'mind': 5770,
 'control': 1867,
 'breakthroughs': 1137,
 'complete': 1804,
 'hayden': 3884,
 'christensen': 1591,
 'comic': 1776,
 'style': 8357,
 'hugo': 4155,
 '55': 119,
 'entertainment': 2796,
 'weekly': 9368,
 'anamorphic': 409,
 'blow': 1010,
 'betamax': 906,
 'cav': 1429,
 'guinness': 3733,
 'camp': 1312,
 'midgets': 5731,
 'vs': 9264,
 'knights': 4862,
 'national': 6081,
 'ei': 2690,
 'muista': 5988,
 'assassin': 589,
 'training': 8827,
 'pass': 6518,
 'compare': 1797,
 'disambiguation': 2376,
 'leon': 5076,
 'professional': 6909,
 '1981': 59,
 '1994': 66,
 'major': 5389,
 'recutting': 7149,
 'revenge': 7269,
 'motive': 5956,
 'luc': 5287,
 'besson': 903,
 'forbidden': 3222,
 'love': 5268,
 'hit': 4032,
 'touching': 8798,
 'easily': 2634,
 'confused': 1830,
 'title': 8724,
 'reno': 7226,
 'natalie': 6076,
 'portman': 6808,
 'assassination': 590,
 'corruption': 1916,
 'friendship': 3311,
 'gary': 3421,
 'oldman': 6306,
 'lame': 4958,
 'hitman': 4037,
 'harsh': 3851,
 'slick': 8030,
 'visceral': 9231,
 'dirty': 2374,
 'cops': 1891,
 'assassins': 591,
 'alpha': 350,
 'male': 5403,
 'guns': 3743,
 'unique': 9051,
 'emotional': 2755,
 'intense': 4388,
 'unlikely': 9062,
 'women': 9517,
 'young': 9634,
 'girl': 3530,
 'holes90s': 4061,
 'sniper': 8052,
 'humane': 4160,
 'shooting': 7888,
 'buy': 1273,
 'sanity': 7563,
 'haircut': 3776,
 'naive': 6046,
 'cut': 2059,
 'cross': 2006,
 'line': 5161,
 'really': 7127,
 'cool': 1881,
 'idea': 4222,
 'somewhat': 8092,
 'estrangeinro': 2858,
 'unconventional': 9008,
 'reviewed': 7272,
 'milk': 5759,
 'drugs': 2544,
 'quentin': 7012,
 'tarantino': 8541,
 'hypertextual': 4204,
 'mã': 6039,
 'bug': 1228,
 'bollywood': 1042,
 'straight': 8302,
 'tag': 8509,
 'gratuitous': 3652,
 'movielens': 5968,
 'storylines': 8299,
 'nonlinear': 6203,
 'travolta': 8859,
 'samuel': 7551,
 'jackson': 4491,
 'sex': 7799,
 'uma': 8993,
 'thurman': 8694,
 'masterpiece': 5526,
 'sequence': 7765,
 'fate': 3034,
 'linear': 5162,
 'cursing': 2052,
 'notable': 6225,
 'long': 5226,
 'mafia': 5369,
 'performance': 6601,
 'jules': 4665,
 'moral': 5909,
 'ambiguity': 375,
 'god': 3565,
 'thrill': 8685,
 'revival': 7275,
 'cons': 1845,
 'scams': 7618,
 'hired': 4020,
 'hostage': 4128,
 'situations': 7988,
 'colourful': 1756,
 'walken': 9289,
 'harvey': 3859,
 'keitel': 4769,
 'ving': 9217,
 'rhames': 7283,
 'paced': 6431,
 'puppets': 6980,
 'roger': 7383,
 'avary': 666,
 'gross': 3704,
 'entirely': 2798,
 'heroin': 3967,
 'mysterious': 6032,
 'parcel': 6492,
 'macho': 5343,
 'films': 3133,
 'shouldn': 7898,
 'edited': 2663,
 'sarcasm': 7575,
 'mob': 5847,
 'gritty': 3699,
 'stylish': 8359,
 'aggressive': 258,
 'structured': 8333,
 'big': 928,
 'boys': 1104,
 'violently': 9223,
 'silly': 7944,
 'word': 9533,
 'gangster': 3392,
 'dialogues': 2319,
 'stories': 8294,
 'sophisticated': 8107,
 'sweet': 8475,
 'ultra': 8991,
 'bloody': 1008,
 'beat': 826,
 'anal': 407,
 'hipster': 4017,
 'anthology': 477,
 'viewings': 9195,
 'unpredictable': 9068,
 'smart': 8039,
 'dead': 2164,
 'golden': 3580,
 'intersecting': 4401,
 'lives': 5191,
 'storyline': 8298,
 'know': 4866,
 'cheese': 1523,
 'france': 3262,
 'pulp': 6972,
 'gay': 3435,
 'bondage': 1048,
 'random': 7078,
 'intelligent': 4387,
 'ironic': 4439,
 'brutality': 1205,
 'suprisingly': 8429,
 'steve': 8264,
 'buscemi': 1263,
 'innovative': 4353,
 'retro': 7263,
 'artsy': 570,
 'raw': 7109,
 'splatter': 8175,
 'legend': 5054,
 'overated': 6404,
 '95': 134,
 'entertaining': 2795,
 'follow': 3211,
 'palm': 6456,
 'scenic': 7630,
 'semi': 7746,
 'kafkaesque': 4697,
 'trashy': 8852,
 'emerson': 2742,
 'godard': 3566,
 'zeitgeist': 9663,
 'wired': 9485,
 '50': 116,
 'greatest': 3659,
 'soundtracks': 8123,
 'interwoven': 4406,
 'monologue': 5887,
 'facebook': 2957,
 'rec': 7140,
 'nice': 6149,
 'pace': 6430,
 'offensive': 6287,
 'pointless': 6757,
 'unrealistic': 9070,
 'liners': 5163,
 'riveting': 7339,
 'outrageous': 6398,
 'superb': 8414,
 'gangsters': 3394,
 '90s': 133,
 'liked': 5145,
 'order': 6353,
 'pop': 6796,
 'culture': 2040,
 'references': 7167,
 'satire': 7584,
 'episodic': 2814,
 'edition': 2666,
 'jump': 4675,
 'homosexuality': 4089,
 'disjointed': 2397,
 'timeline': 8714,
 'metafiction': 5694,
 'thought': 8680,
 'provoking': 6939,
 'thoughtful': 8681,
 'splatters': 8176,
 'conversation': 1871,
 'way': 9347,
 'subculture': 8365,
 'fully': 3340,
 'cruel': 2016,
 'sick': 7920,
 'dance': 2104,
 'buddy': 1225,
 'use': 9099,
 'extreme': 2939,
 'extremely': 2940,
 'build': 1230,
 'vincent': 9214,
 'told': 8740,
 'lines': 5164,
 'spaghetti': 8138,
 'foul': 3250,
 'mobster': 5849,
 'shallow': 7823,
 'fun': 3341,
 'irony': 4442,
 'moments': 5875,
 'period': 6605,
 'bibliothek': 922,
 'influential': 4338,
 'sexualized': 7805,
 'walked': 9288,
 'didn': 2335,
 'finish': 3145,
 'prison': 6886,
 'escape': 2839,
 'redemption': 7152,
 'freedom': 3296,
 'king': 4826,
 'robbins': 7350,
 'inspirational': 4369,
 'justice': 4687,
 'reflective': 7171,
 'frank': 3271,
 'darabont': 2126,
 'william': 9451,
 'brotherhood': 1192,
 'faith': 2977,
 'hope': 4104,
 'nominee': 6198,
 'sexuality': 7804,
 'cinematographer': 1619,
 'institutionalization': 4376,
 'compassionate': 1799,
 'earnest': 2630,
 'sentimental': 7759,
 'warm': 9314,
 'steven': 8265,
 'narrated': 6062,
 'hide': 3985,
 'human': 4159,
 'heartwarming': 3907,
 'antihero': 486,
 'break': 1133,
 'quest': 7013,
 'stephan': 8252,
 'repeat': 7234,
 'makes': 5394,
 'angry': 447,
 'watchable': 9334,
 'adaptation': 200,
 'feel': 3059,
 'make': 5392,
 'incomplete': 4303,
 'lonliness': 5231,
 'ali': 327,
 'adaptations': 201,
 'innocent': 4351,
 '1940s': 43,
 '1950s': 45,
 '1960s': 51,
 'rita': 7331,
 'hayworth': 3890,
 'wrongful': 9568,
 'imprisonment': 4288,
 'wildly': 9443,
 'worth': 9550,
 'swearing': 8470,
 'year': 9615,
 'believe': 858,
 'motivation': 5955,
 'happy': 3826,
 'wrongly': 9569,
 'accused': 178,
 'profound': 6911,
 'gefaengnisfilm': 3448,
 'novel': 6228,
 'memorable': 5659,
 'united': 9052,
 'states': 8232,
 ...}

In [ ]:
TFIDF_df.to_pickle(path + 'TFIDF_matrix.pkl')